/* Acknowledgement = colored blocks, Thunky / Mantige for lively headers, History Jumper for signing name */

@font-face {
    font-family: Acknowledgement;
    src: url("fonts/Acknowledgement.otf");
}

@font-face {
    font-family: Allura;
    src: url("fonts/Allura-Regular.otf");
}

@font-face {
    font-family: Ananda;
    src: url("fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf.otf");
}

@font-face {
    font-family: Balige;
    src: url("fonts/Balige - Personal Use.otf");
}

@font-face {
    font-family: History_Jumper;
    src: url("fonts/History Jumper.otf");
}

@font-face {
    font-family: Mantige;
    src: url("fonts/Mantige DEMO.otf");
}

@font-face {
    font-family: Mirage_bold;
    src: url("fonts/MADE Mirage Bold PERSONAL USE.otf");
}

@font-face {
    font-family: Mirage_black;
    src: url("fonts/MADE Mirage Black PERSONAL USE.otf");
}

@font-face {
    font-family: Mirage_medium;
    src: url("fonts/MADE Mirage Medium PERSONAL USE.otf");
}

@font-face {
    font-family: Village;
    src: url("fonts/Oriental Village.otf");
}

@font-face {
    font-family: Pacifico;
    src: url("fonts/Pacifico.ttf");
}

@font-face {
    font-family: Thunky;
    src: url("fonts/Thunky DEMO.otf");
}

body {
  background-color: #fff1e6;
  color: #012A4A; 
  overflow-x: hidden;
  min-height: 100dvh;
}

/* Sidebar */

.main-sidebar {
    background-color: #EDAFB8;
    font-size: 2vw;
    color: whitesmoke;
    font-family: Mirage_medium;
    text-align: center;
    width: 20vw;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 100%;
    display: inline-flex;
    flex-direction: column; 
    border-style: solid;
    vertical-align: middle;
    border-right-style: solid;
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 0vw;
    border-top-left-radius: 0vw;
    border-color: whitesmoke;
}

.sidebar-footer {
    position: relative;
    bottom: 2vh;
    background-color: inherit;
    img {
        padding-left: 1vw;
        padding-right: 1vw;
        width: 4vw;
        height: auto;
        text-align: center;
        align-items: center;
        aspect-ratio: 1;
        object-fit: contain;
        display: inline-flex;
    }
}

.main-sidebar-contents {
    position: sticky; 
    display: flexbox;
    top: 0; 
    width: auto; 
    vertical-align: auto;
    h1 {
        font-size: 2.5vw;
    }
    a {
        padding-top: 1vh;
        padding-bottom: 1vh;
        color: inherit;
        background-color: inherit;
        text-decoration-line: none;
        width: 100%;
        display: block;
        transition: all 0.3s ease-in-out;
    }
    a:hover {
        color:brown;
        transform: scale(1.1);
    }
}

#sidebar-footer-icon {
    bottom: 0;
}


/* Header */ 

.header {
    background-color: inherit;
    font-family: Mantige_medium;
    color: #012A4A;
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    img {
        padding-left: 1vw;
        padding-right: 1vw;
    }
}


.contact-info {
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    position: inherit;
    transition: all 0.3s ease-in-out;
    img {
        width: 4vw;
        aspect-ratio: 100%;
        object-fit: contain;
        display: inline-flex;
        mix-blend-mode: multiply;
    }
    img:hover {
        transform: scale(1.2);
    }
}

/* Main Contents */ 

.main {
    margin: auto;
    display: inline-block;
    position: absolute;
    padding-left: 5vw;
    padding-right: 5vw;
    right: 0;
    width: 70vw;
    height: 100vh;
}

.main-contents {
    position: relative;
    display: contents;
    h1 {
        font-size: 3vw;
        font-family: Mantige;
        text-align: center;
    }
    h2 {
        font-size: 2.5vw;
        text-align: center;
        font-family: Mirage_black;
    }
    p {
        font-size: 1.5vw;
        font-family: Mirage_medium;
        text-align: center;
    }
    img {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

.divider {
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 0%;
    img {
        position: relative;
        width: 100%;
        height: 10vh;
        overflow-x: hidden;
        object-fit: contain;
        mix-blend-mode: multiply;
        padding-left: 0vw;
        padding-top: 0.5vh;
        padding-bottom: 0.1vh;
    }
}

.subsection {
    display: block;
    position: relative;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    img {
        width: 8vw;
        aspect-ratio: 100%;
        object-fit: contain;
        display: inline-flex;
        mix-blend-mode: multiply;
    }
    ul {
        list-style-type: "■ ";
    }
    li {
        font-size: 1.5vw;
        font-family: Mirage_medium;
        text-align: left;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    embed {
        width: 100%;
        height: 85vh;
        padding-bottom: 4vh;
    }
    
}

#name {
    font-family: Pacifico;
}

.work_tabs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-start;
    text-align: center;
}

.work_tab_buttons {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    img {
        width: 8vw;
        aspect-ratio: 100%;
        object-fit: contain;
        mix-blend-mode: multiply;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    button {
        /* display: block; */
        display: contents;
        background-color: inherit;
        padding-top: 3vh;
        padding-bottom: 3vh;
        border: 2px solid transparent;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: block;
        background-color: inherit;
    }
    button::after,
    button::before {
        backface-visibility: hidden;
        border: 2px solid transparent;
        /* border: 2px solid #263059; */
        content: '';
        display: block;
        margin: 0 auto;
        /* position: block; */
        transition: all 0.3s ease-in-out;
        width: 1vw;
        height: 0;
    }
    button:hover::after,
    button:hover::before {
        backface-visibility: hidden;
        transition: width 0.3s ease-in-out;
        border: 2px solid #263059;
        width: 100%;
        right: 0;
        top: -4px;
        bottom: -4px;
        left: 0;
    }
}

.work_info {
    /* float: right; */
    background-color: #fff1e6;
    color: #012A4A; 
    width: 90%;
    align-items: center;
    text-align: center;
    p {
        text-align: left;
        padding-left: 2vw;
        font-size: 1.5vw;
    }
    h3 {
        font-size: 2vw;
    }
    
}

.tabcontent {
    display: none;
    float: left;
    /* padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px; */
    width: 70%;
}

#selected_tab {
    display: contents;
}
#unselected_tab {
    display: hidden;
}


/* Go from zero to full opacity */
/* @keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
} */

/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */

/* Applies to all elements with <... class="someclass"> specified. */
/* .someclass { color: red; } */

/* Applies to the element with <... id="someid"> specified. */
/* #someid { color: green; } */

/*
Colors: #F4E4DC, fff1e6 [cream]; 023047, 012A4A [blue]

TODO: adjust px / viewing for mobile
*/