body {
  background-color: #fff1e6;
  color: #023047;
  font-family: serif;
  overflow-x: hidden;
  min-height: 100dvh;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}


h2 {
  font-size: 28px;
  text-align: center;
}

p {
    font-size: 16px;

}


/* Header */ 

.header {
    background-color: inherit;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #012A4A;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    /* position: fixed; */
    position: relative;
}


.contact-info {
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    /* padding-bottom: 8px; */
    text-align: center;
    position: relative;
    img {
        width: 50px; 
        height: 50px; 
        object-fit: contain;
        display: inline-flex;
        mix-blend-mode: color-burn; 
    }
}

/* Sidebar */

.main-sidebar {
    background-color: aliceblue;
    font-size: 2vw;
    color: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 20vw;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    /* bottom: 0;  */
    overflow-x: hidden;
    padding-top: 16px;
    height: 100vh;
    display: inline-flex;
    /* zoom: normal; */
    flex-direction: column; 
    /* justify-content: center;  */
    /* border-right: darkblue; */
    border-style: ridge;
}

.main-sidebar-contents {
    position: sticky; 
    top: 0; 
    width: auto; 
    /* max-height: 100vh;  */
    /* overflow: auto; */
    box-sizing: border-box;
    h1 {
        font-size: 2.5vw;
    }
    a {
        /* white-space: nowrap; */
        padding-top: 1vh;
        padding-bottom: 1vh;
        /* vertical-align: middle; */
        color: inherit;
        background-color: inherit;
        text-decoration:dashed;
        outline: 3px dashed; 
        width: 100%;
        display: grid;

    }
    a:hover {
        color: #1607ea;
    }
}

#sidebar-footer {
    margin-top: auto;
}

/* Main Contents */ 

.main {
    margin: auto;
    display: inline-block;
    margin: auto;
    position: relative;
    /* overflow-y: auto; */
    /* width: 75vw; */
    height: 100vh;
}

.main-contents {
    position: relative;
    display: contents;
    /* margin: auto; */
    /* margin-left: 25%; */
}

.divider {
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 0%;
    img {
        position: relative;
        width: 75%;
        height: auto;
        overflow-x: hidden;
        object-fit: contain;
    }
}

.subsection {
    display: block;
    /* overflow: hidden; */
    position: relative;
    /* margin-left: 25%; */
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    h1 {
        text-align: center;
    }
    p {
        text-align: left;
    }
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Applies to all elements with <... class="someclass"> specified. */
/* .someclass { color: red; } */

/* Applies to the element with <... id="someid"> specified. */
/* #someid { color: green; } */

/*
Colors: #F4E4DC, fff1e6 [cream]; 023047, 012A4A [blue]


*/